<h1>Your Cart</h1>
<p class="price-summary">Overall Total: {{ getTotal() | currency }}</p>
<table class="cart-table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price | currency }}</td>
      <td>{{ (item.product.price * item.quantity) | currency }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="removeFromCart(item)">
          <mat-icon>remove_shopping_cart</mat-icon>
          Remove From Cart
        </button>
      </td>
    </tr>
  </tbody>
</table>