
<div class="image-item">
    <img [src]="product.image" alt="Product Thumbnail">
    <h2 class="details-header">
        {{product.name}}
    </h2>
    <div class="details-row">
        <span>Category:</span>
        <span>{{product.category}}</span>
    </div>
    <div class="details-row">
        <span>Price:</span>
        <span>{{product.price}}</span>
    </div>
    <div class="buttons-row">
        <button (click)="editProduct(product)">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button (click)="deleteProduct(product)">
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </div>
</div>
