.image-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-item img:hover {
    transform: scale(1.05);
}

.details-header {
    text-align: center;
    margin: 10px;
}

.details-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .buttons-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }