@use "@angular/material" as mat;

* {
  font-family: 'Arial';
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$violet-palette,
    density: 0
  ));
  overflow-y: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

header {
  position: sticky;
  z-index: 9999;
  width: 100%;
  top: 0px;
  background-color: #333333;
  color: white;
}

button {
  display: flex;
  align-items: center;
  gap: 4px;
}