@use "@angular/material" as mat;

html {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$violet-palette,
    density: 0
  ));
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  * {
    font-family: 'Arial';
  }

  button {
    display: flex;
    align-items: center;
    gap: 4px; /* Space between icon and text */
  }